<div ...attributes class="relative grid grid-cols-3 lg:grid-cols-5 gap-2 lg:gap-5">
  {{#each @cards as |card|}}
    <Game::Card @card={{card}} @onChange={{@onChange}} />
  {{/each}}
</div>

{{yield}}