<HeadLayout />

{{title (t "application.title")}}

<EmberLoadRemover />

{{#if this.socket.isReconnecting}}
  <Layout::Connection />
{{/if}}

<div local-class={{if this.socket.isReconnecting "disconnected"}}>
  {{outlet}}
</div>