{{page-title (t "application.title")}}

<EmberLoadRemover />

{{#if this.socket.isReconnecting}}
  <Layout::Connection />
{{/if}}

<main local-class="main {{if this.socket.isReconnecting "disconnected"}}">
  {{outlet}}
</main>
