<title>
  {{this.model.title}}
</title>

{{#if this.model.turnTeamA}}
  <link rel="icon" href="/favicon-team-a.png" />
{{else if this.model.turnTeamB}}
  <link rel="icon" href="/favicon-team-b.png" />
{{/if}}