<Layout::Title @title={{t "application.title"}} />

<Layout::Panel local-class="extra">
  <p local-class="actions">
    <Ui::Button @style="primary" @route="game" @model={{this.randomToken}}>
      {{t "index.action.new"}}
    </Ui::Button>
  </p>
  <p>
    Play with your friends. Decknamen is an online version of Codenames, a board game created by Vlaada Chvátil. If you like playing this, buy the original.
  </p>
  <p>
    The source code for this is available
    <a href="https://github.com/pichfl/decknamen">
      on GitHub
    </a>
    . If you know what that means, feel free to help to improve it.
  </p>
</Layout::Panel>

{{outlet}}