  <div ...attributes class="w-full max-w-md mb-5 mx-auto p-6 pt-4 pb-2 bg-gray-900 rounded-lg shadow-lg">
    <h2 class="uppercase text-sm tracking-wider mb-5 font-bold {{@titleColor}}">
      {{@title}}
    </h2>

    {{yield}}
  </div>
