.title {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto var(--spacing-lg);
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  letter-spacing: -0.1rem;
  color: var(--metal-4);
  line-height: 5rem;
}

@media (max-width: 48rem) {
  .title {
    font-size: 3.5rem;
    line-height: 3rem;
  }
}

.subtitle {
  width: 100%;
  max-width: 24rem;
  margin: calc(-1 * var(--spacing-lg)) auto var(--spacing-xl);
  text-align: center;
  color: var(--metal-3);
}

.team-a {
  color: var(--heat-4);
}

.team-b {
  color: var(--cold-4);
}
