.form {
  width: 100%;
  margin: calc(-1 * (var(--spacing-sm) + var(--spacing-2))) 0;
  display: flex;
  flex-flow: nowrap row;
  justify-content: stretch;
}

.form p {
  width: 100%;
}

.form div {
  margin-top: 0;
  width: 25%;
  margin-left: var(--spacing-md);
}

.form p * {
  width: 100%;
}

.player {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-right: calc(-1 * var(--spacing-sm));
}

.player > div {
  display: flex;
}

.player + * {
  margin-top: var(--spacing-lg);
}

.leader {
  width: var(--spacing-xl);
  height: var(--spacing-xl);
  background: var(--metal-2);
  color: var(--metal-8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: var(--spacing-sm);
}

.name {
  display: flex;
  align-items: center;
}

button.team-a {
  color: var(--heat-4);
}

.button-spacer {
  width: calc(2.5 * var(--spacing-md));
}

button.team-b {
  color: var(--cold-4);
}

button.dim {
  color: var(--metal-4);
}
