{{!-- {{#if this.socket.isConnected}}
  <div class="absolute top-0 right-0 flex items-center m-5 py-1 pl-4 pr-3 rounded-full bg-gray-100 text-green-700 shadow-lg">
    <span>Connected</span>
    <span class="ml-2 block h-3 w-3 bg-green-600 rounded-full"></span>
  </div>
{{/if}} --}}

{{outlet}}