.red h2 {
  color: var(--heat-4);
}

.blue h2 {
  color: var(--cold-4);
}

.actions {
  max-width: 32rem;
  margin: var(--spacing-lg) auto auto;
  justify-content: center;
}

.actions button {
  width: 50%;
}

.help {
  color: var(--metal-3);
}

.fieldset > * + *,
.col > * + * {
  margin-top: var(--spacing-lg);
}

.col {
  margin-top: 0;
}

@media (min-width: 68rem) {
  .form {
    display: grid;
    grid-template-columns: 1fr 32rem 32rem 1fr;
    column-gap: 2rem;
  }

  .col {
    grid-column: 2;
  }

  .col + .col {
    grid-column: 3;
  }
}
