.cards {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  align-content: start;
  justify-content: center;
  list-style: none;
  margin: 0 auto var(--spacing-xl);
  padding: 0;
  width: calc(50% + var(--spacing-md) * 2);
  pointer-events: none;
}

.cards > * {
  width: 20%;
  flex: 0 1 auto;
  padding: 1%;
}

.cards button {
  transition: all 0.2s ease-in;
}

.cards button {
  border-width: 3px;
  border-radius: calc(var(--spacing-xs) * 2);
}

.cards span span {
  font-size: 0.8rem;
}
