<div class="flex flex-col min-h-calc p-2 lg:p-5 justify-center overflow-hidden">
  <Game::Tally @cards={{this.model}} class="mt-auto mb-5">
    <button type="button" class="button">
      Skip Turn
    </button>

    <button type="button" class="button ml-2">
      End Game
    </button>
  </Game::Tally>
  <Game::Table class="mb-auto" @cards={{this.model}} @onChange={{this.onChange}} />
</div>

{{outlet}}